
#
# Board Support Package
#

#
# Clock
#
CONFIG_CORE_FREQ_160MHZ=y
CONFIG_CORE_FREQ=160000000
# CONFIG_APB2_DIV_1 is not set
# CONFIG_APB2_DIV_2 is not set
CONFIG_APB2_DIV_4=y
# CONFIG_APB2_DIV_8 is not set
# CONFIG_APB2_DIV_16 is not set
CONFIG_APB2_PERIPH_FREQ=40000000
# end of Clock

CONFIG_LOG_LEVEL_DEBUG=0
CONFIG_LOG_LEVEL_INFO=1
CONFIG_LOG_LEVEL_WARNING=2
CONFIG_LOG_LEVEL_ERROR=3
CONFIG_LOG_LEVEL_OFF=4
CONFIG_USE_SDCARD=y
CONFIG_SDCARD_HAS_DETECT_PIN=y
CONFIG_SDCARD_DETECT_ACTIVE_HIGH=y
CONFIG_SDCARD_HAS_POWER_SWITCH=y
CONFIG_SDCARD_POWER_SWITCH_ACTIVE_HIGH=y
# CONFIG_SDCARD_SPI_FREQ_20MHZ is not set
CONFIG_SDCARD_SPI_FREQ_10MHZ=y
# CONFIG_SDCARD_SPI_FREQ_5MHZ is not set
# CONFIG_SDCARD_SPI_FREQ_2500KHZ is not set
# CONFIG_SDCARD_SPI_FREQ_1250KHZ is not set
# CONFIG_SDCARDSPI_FREQ_625KHZ is not set
# CONFIG_SDCARD_SPI_FREQ_312KHZ is not set
# CONFIG_SDCARD_SPI_FREQ_156KHZ is not set
CONFIG_SDCARD_SPI_FREQ_IDX=1
CONFIG_USE_SPI=y
CONFIG_SPI_TEST=y
CONFIG_USE_CAN=y
CONFIG_CAN_COUNT=3

#
# CAN1
#
# CONFIG_FD_CAN_ONE is not set
# CONFIG_DATA_500KHZ_CAN_ONE is not set
CONFIG_DATA_1MHZ_CAN_ONE=y
CONFIG_DATA_BPS_CAN_ONE=1
CONFIG_ARBIT_BPS_CAN_ONE=1
# end of CAN1

#
# CAN2
#
# CONFIG_FD_CAN_TWO is not set
# CONFIG_DATA_500KHZ_CAN_TWO is not set
CONFIG_DATA_1MHZ_CAN_TWO=y
CONFIG_DATA_BPS_CAN_TWO=1
CONFIG_ARBIT_BPS_CAN_TWO=1
# end of CAN2

#
# CAN3
#
# CONFIG_FD_CAN_THREE is not set
# CONFIG_DATA_500KHZ_CAN_THREE is not set
CONFIG_DATA_1MHZ_CAN_THREE=y
CONFIG_DATA_BPS_CAN_THREE=1
CONFIG_ARBIT_BPS_CAN_THREE=1
# end of CAN3

# CONFIG_CAN_LOG_OFF is not set
CONFIG_CAN_LOG_DEBUG=y
# CONFIG_CAN_LOG_INFO is not set
# CONFIG_CAN_LOG_WARNING is not set
# CONFIG_CAN_LOG_ERROR is not set
CONFIG_CAN_LOG_LEVEL=0
# end of Board Support Package

# CONFIG_USE_LFS_SD is not set
