
#
# Board Support Package
#

#
# Clock
#
CONFIG_CORE_FREQ_160MHZ=y
CONFIG_CORE_FREQ=160000000
# CONFIG_APB2_DIV_1 is not set
# CONFIG_APB2_DIV_2 is not set
CONFIG_APB2_DIV_4=y
# CONFIG_APB2_DIV_8 is not set
# CONFIG_APB2_DIV_16 is not set
CONFIG_APB2_PERIPH_FREQ=40000000
# end of Clock

CONFIG_LOG_LEVEL_DEBUG=0
CONFIG_LOG_LEVEL_INFO=1
CONFIG_LOG_LEVEL_WARNING=2
CONFIG_LOG_LEVEL_ERROR=3
CONFIG_LOG_LEVEL_OFF=4
CONFIG_USE_SDCARD=y
CONFIG_SDCARD_HAS_DETECT_PIN=y
CONFIG_SDCARD_DETECT_ACTIVE_HIGH=y
# CONFIG_SDCARD_SPI_FREQ_20MHZ is not set
# CONFIG_SDCARD_SPI_FREQ_10MHZ is not set
# CONFIG_SDCARD_SPI_FREQ_5MHZ is not set
# CONFIG_SDCARD_SPI_FREQ_2500KHZ is not set
# CONFIG_SDCARD_SPI_FREQ_1250KHZ is not set
# CONFIG_SDCARDSPI_FREQ_625KHZ is not set
CONFIG_SDCARD_SPI_FREQ_312KHZ=y
# CONFIG_SDCARD_SPI_FREQ_156KHZ is not set
CONFIG_SDCARD_SPI_FREQ_IDX=6
CONFIG_USE_SPI=y
CONFIG_SPI_TEST=y
CONFIG_USE_CAN=y
CONFIG_CAN_COUNT=1

#
# CAN1
#
# CONFIG_FD_CAN_ONE is not set
# CONFIG_DATA_500KHZ_CAN_ONE is not set
CONFIG_DATA_1MHZ_CAN_ONE=y
CONFIG_DATA_BPS_CAN_ONE=1
CONFIG_ARBIT_BPS_CAN_ONE=1
# end of CAN1

# CONFIG_CAN_LOG_OFF is not set
CONFIG_CAN_LOG_DEBUG=y
# CONFIG_CAN_LOG_INFO is not set
# CONFIG_CAN_LOG_WARNING is not set
# CONFIG_CAN_LOG_ERROR is not set
CONFIG_CAN_LOG_LEVEL=0
# end of Board Support Package

CONFIG_USE_LFS_SD=y

#
# Log
#
# CONFIG_LFS_LOG_TRACE is not set
# end of Log

CONFIG_TEST_LFS_SD=y
