menu "Board Support Package"
    menu "Clock"
        choice
            prompt "Core Frequency"
            default CORE_FREQ_160MHZ
            config CORE_FREQ_160MHZ
                bool "160MHz"
        endchoice
        config CORE_FREQ
            int
            default 160000000 if CORE_FREQ_160MHZ
        choice
            prompt "APB2 Prescaler"
            config APB2_DIV_1
                bool "/1"
            config APB2_DIV_2
                bool "/2"
            config APB2_DIV_4
                bool "/4"
            config APB2_DIV_8
                bool "/8"
            config APB2_DIV_16
                bool "/16"
        endchoice
        config APB2_PERIPH_FREQ
            int
            default 160000000 if APB2_DIV_1
            default  80000000 if APB2_DIV_2
            default  40000000 if APB2_DIV_4
            default  20000000 if APB2_DIV_8
            default  10000000 if APB2_DIV_16
    endmenu # "Clock"

rsource "sdcard/Kconfig"
rsource "spi/Kconfig"

endmenu # "Board Support Package"
